/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 2 version
*/

/*Colors used

Background Color (LavendarBlush): #FFF0F5
Text Color (Dark Gray): #2b2b2b;
Primary Color (Purple): #357b70;
Secondary Color (Orange): #e0b354;
*/

/*makes all elements include border and padding in the sizing*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fff0f5;
  }
  
  body {
    color: #2b2b2b;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.6;
  }
 /*Main Begin*/

/* Header Begin*/

a {
  color: #357b70;
  background-color: #e0b354;

}
a:visited {
  /* visited link */
  color: #2b2b2b;
  background-color:#f9f1e0;
}

a:hover, a:focus {
  color: #D035A1;
  text-decoration: none;
}

a:active {
  /* selected link */
  background-color:#f9f1e0;
}

.page-header {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  width: 100%;
  padding: 20px;
}
.page-header__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
}
.page-header__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
}
.page-header__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}


/* Header End*/

/*Index Main Begin*/

.index {
  margin-left: 40px
}

h1 {
  font-size: 30px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

button {
  /* overwrites browser defaults and resets the border */

  border: none;
  font-family: inherit;
  background-color: #357b70;
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

button:hover, button:focus {
  cursor: pointer;
  background-color: #ff17e4;
  opacity: 0.8;
}

.button__secondary {
  cursor: pointer;
  background-color: #e0b354;
  color: #2b2b2b;
  opacity: 0.8;
}

/*makes profile picture have text on the right, sets the size and turns into a circle*/
.profile_portrait {
  float:left;
  width: 250px;
  height: auto;
  margin-right: 40px;
  border-radius: 50%;
}
.h1 {
  float: right;
}
.p {
  float:right;
}

.a {
  float: right;
}


a {
  color: #357b70;
}

.profile {
  border-style: solid;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 250px;
  max-width: 700px;
  margin: 0 auto;
}

.profile__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100px;
          flex: 1 1 100px;
}


.navigation-list {
  list-style: none;
}
.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

/*Index Main End*/

/*FOOTER Begin*/

.page-footer {
  clear: both;
}

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}




/*Work Begin*/

.work {
  margin-left: 40px;
}
.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 300px 300px;
  grid-template-rows: 300px 300px;
}
.grid > *:nth-child(1) {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 1;
  grid-column: 1;
}
.grid > *:nth-child(2) {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
}
.grid > *:nth-child(3) {
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column: 3;
  grid-column: 2;
}
.grid > *:nth-child(4) {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
}
.grid > *:nth-child(5) {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 2;
  grid-column: 2;
}
.grid > *:nth-child(6) {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 3;
  grid-column: 3;
}

.grid__item {
  width: auto;
  min-height: auto;
  margin: 10px;
  background-color:#e0b354;
  border-style: solid;
}

.grid__item:last-child {
  -ms-grid-column: 3;
  grid-column: 3;
      grid-column-start: 3;
  -ms-grid-column-span: 0;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
}
/*Work End*/

/*Contact Begin*/
.Contact {
  margin-left: 40px;
}
@media all and (max-width: 500px) {
  .grid {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
      -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
      grid-gap: 10px;
  }
/*Contact End*/


/*About Begin*/
.about {
  margin-left: 40px
}

/*Shorten version........scale down for mobile screens*/


/*ABOUT Begin*/

.about {
  text-align: center }
.about-list {
  list-style-type: none;
  }

  @-webkit-keyframes color-change {
    0% { fill: #edc655; }
    50% { fill: #fcffad; }
    100% { fill: #f76414; } }

  @keyframes color-change {
    0% { fill: #edc655; }
    50% { fill: #fcffad; }
    100% { fill: #f76414; } }

.sun {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-name: color-change;
          animation-name: color-change;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}
@-webkit-keyframes sun {
  from {
    fill: #edc655;
  }
  to {
    fill: #f76414;
  }
}
@keyframes sun {
  from {
    fill: #edc655;
  }
  to {
    fill: #f76414;
  }
}
.sun {
  -webkit-animation: 4s color-change infinite alternate linear;
          animation: 4s color-change infinite alternate linear;
}
@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
  }
@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
            transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
            transform: translate(100px, 48px);
  }
  }
  .cloud-back {
    -webkit-animation: 50s cloud-move-reverse infinite alternate linear;
            animation: 50s cloud-move-reverse infinite alternate linear;
  }
}

/*ABOUT End*/